.group {
  display: block;
  width: 100%;

  input {
    width: 100%;
    line-height: 2.75;
    padding: 0 0.75rem;
    font-size: var(--input-font-size);
    border-radius: var(--border-radius);
    border: solid 1px var(--ui-color-mid-grey);
    caret-color: var(--ui-color-blue);
  }

  input.invalid {
    border: solid 1px var(--ui-color-red);
  }
}

.labelText {
  display: block;
  margin-bottom: var(--input-label-margin-bottom);
  font-size: var(--input-label-font-size);
  font-weight: bold;
}

.errorMessage {
  color: var(--ui-color-red);
  min-height: 1.375rem;
}
