.container {
  border: none;

  legend {
    display: block;
    margin-bottom: var(--input-label-margin-bottom);
    font-weight: bold;
  }
}

.stars {
  display: flex;
  gap: 0.5rem;
  color: var(--ui-color-blue);
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus-visible + label {
    outline: solid 2px var(--ui-color-blue);
  }

  + label {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.errorMessage {
  color: var(--ui-color-red);
  min-height: 1.375rem;
}
