.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 3.5rem;
}

.graphWrapper {
  margin-bottom: 2rem;
}

.graphTitle {
  margin-bottom: 1.5rem;
}
